/*@media only screen and (min-width:651px) and (max-width: 900px)
{

.wrapper {
   /* width : 95%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr  ;
	grid-auto-rows: minmax(10px, auto);
	grid-column-gap : 10 px ;
	grid-row-gap: 5 px;
	grid-template-areas:
	"tt tt tt   "
	"hd hd hd  "
	"na na na  "
	" img img img  "
	" sec sec  sec  "
	"ft ft ft ";
}

nav>ul>li:hover>ul{
    width: calc(16% - 1px);
}
img
{
    display:none;
}





}

@media only screen and (max-width: 650px)
{

header {
    display : none;
}


.wrapper{
	width : 80%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr  ;
	grid-auto-rows: minmax(10px, auto);
	grid-column-gap : 10 px ;
	grid-row-gap: 5 px;
	grid-template-areas:
	"hd hd hd  "
	"na na na  "
	" img img img  "
	" sec sec  sec  "
	"ft ft ft ";
}
#headmain {
    width : 100%;
}

h1 {
    text-align : center;
}

nav>ul>li:hover>ul{
    width : 90%;
    position : absolute;
    top : 140px; left : 5%;
}

#pres {
    width : 90%;
}

#prese {
    float : none;
    display : center;
}
img
{
    display:none;
}


}*/
