/*Reset CSS*/

	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

body {
	background-color : lightblue;
}
.wrapper{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
	grid-auto-rows: minmax(50px, auto);
	grid-column-gap : 20 px ;
	grid-row-gap: 5 px;
	grid-template-areas:
	"tt tt tt tt tt tt  "
	"hd hd hd hd hd hd "
	"lf na na na na  rg "
	"lf sec sec sec sec rg "
	"lf sec sec  sec sec rg "
	"ft ft ft ft ft ft";
}

header {
	/*width : 100%;
	height : 29px;*/
	background-color : lightblue;
	text-align: right;
	grid-area: tt;
}

#left {
	background-color : lightblue;
	grid-area: lf;
}
#right {
	background-color : lightblue;
	grid-area: rg;
}
#headmain {
	/*width :80%;*/
	text-align: center;
	background-color : #108CA8;
	grid-area: hd;
}
/*li {
	display : inline-block;
	width : 100px;
	text-align: center;
}*/

h1 {
	font-size : 33px;
}





nav{
	margin-top: 20px;
	/*width : 90%;*/
	grid-area: na;
	text-align: center;
	background-color : lightblue;
}

nav>ul>li{
	display: inline-block;
	width:   calc(19% - 1px);
	height: 40px;
	line-height: 40px;
}


nav>ul>li:hover{
	background-color : grey;
	
}

nav>ul>li>a{
	text-decoration: none;
	font-size: 20px;
	width: 100%;
	display: inline;
}

footer {
    padding: 1em 0;
    background: #333;
    color: white;
    text-align: center;
    /*position: absolute;
    /*width: 100%;*/
	grid-area: ft ;
}



h2 {
	font-size : 25px;
	font-weight : bold;
	margin-bottom : 10px;
}
h3 {
	font-size : 20px;
	font-weight : bold;
	margin-bottom : 10px;
}

#pres {
	margin-top : 35px;
	background-color: #108CA8;
	grid-area: sec;
	/*width: 50% ;*/
}

/*#1 {
	/*float : right;
	/*width : auto;
	height : 200px;
	margin-left : 25px;
	margin-bottom : 15px;
	grid-area: img1;
}
#2 {
	/*float : right;
	/*width : auto;
	height : 200px;
	margin-left : 25px;
	margin-bottom : 15px;
	grid-area: img2;
}*/
img {
	float : left;
	width: auto ;
}





p {
	text-align : justify
}



@media only screen and (min-width:651px) and (max-width: 900px)
{

.wrapper {
   /* width : 95%;*/
	display: grid;
	grid-template-columns: 1fr 1fr 1fr  ;
	grid-auto-rows: minmax(10px, auto);
	grid-column-gap : 10 px ;
	grid-row-gap: 5 px;
	grid-template-areas:
	"tt tt tt   "
	"hd hd hd  "
	"na na na  "
	" sec sec  sec  "
	"ft ft ft ";
}

nav>ul>li:hover>ul{
    width: calc(16% - 1px);
}






}

@media only screen and (max-width: 650px)
{

header, div#left, div#right {
    display : none;
}


.wrapper{
	width : 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr  ;
	grid-auto-rows: minmax(10px, auto);
	grid-column-gap : 10 px ;
	grid-row-gap: 5 px;
	grid-template-areas:
	"hd hd hd  "
	"na na na  "
	" sec sec  sec  "
	"ft ft ft ";
}
#headmain {
    width : 100%;
}

h1 {
    text-align : center;
}

nav>ul>li:hover>ul{
    width : 90%;
    position : absolute;
    top : 140px; left : 5%;
}

#pres {
    width : 90%;
}

#prese {
    display : none;
}
    


}


